
@model IEnumerable<MiniBlog.Core.ViewModels.ListView.ListPictureViewModel>

@{
    ViewData["Title"] = "管理图片";
}
<h4>管理图片</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Small)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Big)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                <a asp-controller="home" asp-action="picture">上传图片</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @{
                    var img = item.Small;
                    var bigImg = item.Big;
                }
                <img src="/@img" style="height:80px;" />
            </td>
            <td>
                @bigImg
            </td>
            <td>
                @item.CreateTime
            </td>
            <td>
                @Html.ActionLink("删除", "deletepicture", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
<pager option="ViewBag.Options" action-url="/home/pictures"></pager>