@model IEnumerable<MiniBlog.Core.ViewModels.ListView.ListPostViewModel>

@{
    ViewData["Title"] = "博文管理";
}

<h4>管理博文</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                <a asp-controller="home" asp-action="post">发布博文</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.ActionLink("编辑内容", "content", new { id = item.Id }) |
                @Html.ActionLink("编辑", "post", new { id = item.Id }) |
                @Html.ActionLink("删除", "deletePost", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<pager action-url="/home/posts" option="ViewBag.Options"></pager>